<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="utf-8" />
	<title>Aktivenabrechnung</title>
	<meta name="author" content="ADFC Hamburg" />
	<meta name="description" content="Kosten- und Gewinnabrechnung für Aktive des {{ address['NameShort'] }}."/>
	<link rel="stylesheet" href="aktive_template.css">
</head>

<body>
<div class="document">

<header>
	<!-- <div class="top">Dieses Formular ist auch digital im ADFC-Wiki verf&uuml;gbar (Infos f&uuml;r Aktive =&gt; Allgemeine Infos =&gt; Abrechnungsrichtlinien)</div> -->
	<!-- <div class="symbol">a</div> -->
	<div class="info">Mit einem Sternchen * gekennzeichnete Felder werden von der Buchhaltung ausgef&uuml;llt.</div>
	<div class="box">
		<p>Zusammen mit <b>digitalen Belegen</b> kannst du dieses <b>Formular per E&#8209;Mail</b> an <a href="mailto:{{ address['MailAccounting'] }}">{{ address['MailAccounting'] }}</a> senden.</p>
		<p>Papier&shy;belege hängst du als Scan oder not&shy;falls als Foto an, auf dem <b>der ganze Beleg gut lesbar</b> zu sehen ist.</p>
		<p>Alternativ sende die Belege <b>im Original</b> mit der jeweiligen Positions&shy;nummer versehen, zusammen mit einer Notiz zum Datum dieser Abrechnung, an unsere Geschäfts&shy;stelle (Adresse links) oder gib sie dort ab.</p>
	</div>
</header>

<main>
	<div class="angaben">
		<h1>Absender&ast;in</h1>
		<table>
			<tr>
				<td>Name:</td>
				<td>{{ abrechnung.getusername() }}</td>
			</tr>
			<tr>
				<td>Arbeitsbereich:</td>
				<td>{{ abrechnung.getusergroup() }}</td>
			</tr>
		</table>
		<h1>Angaben zur Aktion</h1>
		<table>
			<tr>
				<td>Aktion&nbsp;/&nbsp;Projekt:</td>
				<td>{{ abrechnung.getprojectname() }}</td>
			</tr>
			<tr>
				<td>Datum:</td>
				<td>{{ format_date(abrechnung.getprojectdate(),format='long',locale='de_DE') if abrechnung else '' }}</td>
			</tr>
		</table>
	</div>
	<adress>
		{{ address['Name'] }}<br />Buchhaltung<br />{{ address['LineOne'] }}<br />{% if address['LineTwo'] %}{{ address['LineTwo'] }}<br />{% endif %}{% if address['LineThree'] %}{{ address['LineThree'] }}<br />{% endif %}{{ address['PostCode'] }} {{ address['City'] }}
	</adress>
	<div class="abrechnung">
		<h1><strong>Aktivenabrechnung</strong> — Einnahmen und Ausgaben</h1>
		<table class="ein_aus">
			<thead>
				<tr>
					<th colspan=2 class="left">Position</th>
					<th>Anzahl</th>
					<th>Einzelpreis</th>
					<th>Einnahme</th>
					<th>Ausgabe</th>
					<th>Konto*</th>
					<th rowspan=2>Kosten&shy;stelle*</th>
				</tr>
				<tr>
					<th>Nr.</th>
					<th class="left compact wide">(verkaufte&thinsp;/&thinsp;gekaufte Artikel, Geb&uuml;hren&thinsp;…)</th>
					<th class="row2"></th>
					<th class="row2">€</th>
					<th class="row2">€</th>
					<th class="row2">€</th>
					<th class="row2"></th>
				</tr>
			</thead>
			<tbody>
{% for i in range(abrechnung.POSITIONCOUNT) %}
				<tr>
					<td>{{ i+1 }}</td>
{{ abrechnung.positions[i].htmlcells(indent=5) | safe }}
					<td></td>
					<td></td>
				</tr>
{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan=4>+&nbsp;Spenden</td>
					<td>{{ euro(abrechnung.getdonations()) if abrechnung.getdonations() else '' }}</td><td class="lock"></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan=4>=&nbsp;Summe</td>
					<td>{{ euro(abrechnung.getincome()) if abrechnung.getincome() else '' }}</td>
					<td>{{ euro(abrechnung.getcost()) if abrechnung.getcost() else '' }}</td>
					<td></td>
					<td class="hide"></td>
				</tr>
				<tr>
					<td colspan=4>= Summe Einnahmen &minus; Summe Ausgaben = Abrechnungsbetrag</td>
					<td colspan=2>{{ euro(abrechnung.gettotal()) if abrechnung else '' }}</td>
					<td></td>
					<td class="hide"></td>
				</tr>
			</tfoot>
		</table>
		<h1>Zahlungsabwicklung</h1>
		<table class="abwicklung">
			<tr>
				<td class="check">{{ checkbox(abrechnung.ibanmode == 1) | safe }}</td>
				<td colspan=2>Bitte &uuml;berweist den Abrechnungsbetrag auf mein Konto.</td>
			</tr>
			<tr>
				<td></td>
				<td class="check">{{ checkbox(abrechnung.ibanmode == 1 and abrechnung.ibanknown) | safe }}</td>
				<td>Meine Bankverbindung ist dem ADFC Hamburg bekannt.</td>
			</tr>
			<tr>
				<td></td>
				<td class="check">{{ checkbox(abrechnung.ibanmode == 1 and not abrechnung.ibanknown) | safe }}</td>
				<td><table class="subtable"><tr>
					<td>IBAN:</td>
					<td>{{ abrechnung.iban or "DE" }}</td>
					<td>Kontoinhaber:</td>
					<td>{{ abrechnung.accountname }}</td>
				</tr></table></td>
			</tr>
			<tr>
				<td class="check">{{ checkbox(abrechnung.ibanmode == 2) | safe }}</td>
				<td colspan=2>Bitte nutzt für die Abbuchung des Betrages das euch erteilte SEPA-Lastschriftmandat.</td>
			</tr>
			<tr>
				<td></td>
				<td class="check">{{ checkbox(abrechnung.ibanmode == 2 and abrechnung.sepamode == 2) | safe }}</td>
				<td>Bitte sendet mir das Formular für die erstmalige Erteilung des SEPA-Mandats zu.</td>
			</tr>
			<tr>
				<td></td>
				<td class="check">{{ checkbox(abrechnung.ibanmode == 2 and abrechnung.sepamode == 3) | safe }}</td>
				<td>Bitte sendet mir ein neues SEPA-Mandatsformular zu, da sich meine Bankverbindung geändert hat.</td>
			</tr>
			<tr>
				<td class="check">{{ checkbox(abrechnung.ibanmode == 3) | safe }}</td>
				<td colspan=2>Ich überweise den Abrechnungsbetrag innerhalb von 10 Tagen auf das Konto des ADFC Hamburg mit der IBAN:&#9;DE80 4306 0967 2029 4456 00</td>
			</tr>
		</table>
		<table class="bottomtable">
			<tr>
				<th colspan=2>Unterschrift</th>
				<th class="inbetween"></th>
				<th colspan=2>Buchungsvermerke *</th>
			</tr>
			<tr>
				<td>Datum:</td>
				<td>{% if abrechnung %}{{ today }}{% endif %}</td>
				<td class="inbetween"></td>
				<td class="check">&#9744;</td>
				<td>Überweisung angew.:</td>
			</tr>
			<tr>
				<td>Unterschrift:</td>
				<td class="signature">{% if abrechnung %}(Bei digitaler Einreichung nicht notwendig.){% endif %}</td>
				<td class="inbetween"></td>
				<td class="check">&#9744;</td>
				<td>Lastschrift eingezogen:</td>
			</tr>
			<tr>
				<td class="hide"></td>
				<td class="version hide">{% if abrechnung %}v{{ version }}{% endif %}</td>
				<td class="inbetween" ></td>
				<td></td>
				<td>Konto-Auszug:</td>
			</tr>
		</table>
	</div>
</main>

</div>
</body>

</html>
