/* Allgemeine Einstellungen ——————————————————*/

:root {
	--adfc-blue:	#24477c;
	--adfc-orange:	#f47216;
	--highlight:	#f47216;
	--radio-color:	hsl(25, 91%, 50%);
	--fldst-color:	hsl(25, 91%, 95%);
	--invalid-color:hsl(348, 100%, 50%);

	--font-sans:	"Arimo","Liberation Sans","Open Sans",Arial,Helvetica,sans-serif;
}
* {
	box-sizing:	border-box;
}
body {
	min-height:100vh;
	display:flex;
	flex-direction: column;
	margin: 	0;
	padding:	0;
}

/* Dokument-Header ———————————————————————————*/

body > header::before {
	content:	"";
	display:	block;

	width:		100%;
	height:		4rem;
	margin:		.75rem auto;

	background-image:url('../img/logo-semiwhite.svg'),url('../img/logo-semiwhite.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
}
body > header {
	position:	relative;
	display:	flow-root;

	text-align:	center;
	vertical-align:	bottom;
	background-color:var(--adfc-blue);
	color:		white;
	width:		100%;
}
body > header h1 {
	font-size:	24pt;
	margin-bottom:	0;
	display:	inline;
}
body > header div {
	margin-left:	2em;
	margin-right:	2em;
	padding:	0.1em;
}
body > header p {
	font-style:	italic;
}
body > header img {
	color:		white;
	font-weight:	bold;
}
body > header > nav {
	width:		100%;
	text-align:	right;
	overflow-x:	clip;
}
body > header > nav a {
	position:	relative;
	display:	inline-block;
	z-index:	1;
	white-space:	nowrap;
	padding:	.3em .5em;
	margin-left:	1em;

	color:		black;
	text-decoration:none;
	font-family:	var(--font-sans);

	transition:	padding	.35s;
}
body > header > nav a:hover {
	padding-left:	0;
	padding-right:	1em;
}
body > header > nav a::before {
	position:	absolute;
	left:		-.55em;
	right:		-.85em;
	top:		0;
	bottom:		0;
	z-index:	-1;

	content:	"";
	background-color:var(--highlight);
	transform:	skewX(-45deg);
}
body > header > nav a::after {
	position:	absolute;
	right:		.5em;
	bottom:		.3em;
	content:	"\27A4";
	opacity:	0;

	transition:	opacity .35s, right .35s;
}
body > header > nav a:hover::after {
	right:		0;
	opacity:	1;
}

/* Dokument-Footer ———————————————————————————*/

body > footer {
	color:		white;
	background-color:#737373;

	font-size:	80%;

	margin-top:	auto;
	padding:	.5rem;
}
body > footer nav {
	float:		left;
}
body > footer a {
	color:		inherit;
	text-decoration:none;

	margin-right:	.5rem;
}
body > footer a:hover {
	text-decoration:underline;
}
body > footer a::after {
	content:	" \276F";
}
body > footer .version {
	float:		right;
}

/* Formular ——————————————————————————————————*/

form {
	margin: 	0 auto 1em;
	padding:	0.5em;
}
form > header {
	--highlight:	#24477c;
	--radio-color:	var(--adfc-blue);
	--fldst-color:	hsl(216, 55%, 95%);

	padding-bottom:	1.5em;
	border-style:	none none dotted;
	border-color:	var(--adfc-blue);
	border-width:	1px;
}

/* Fieldsets —————————————————————————————————*/

fieldset {
	max-width:	62em;
	margin:		1em auto 0;
	background-color:var(--fldst-color);

	border: 2px groove var(--highlight);
}
fieldset legend {
	font-weight:	bold;
	color:		var(--highlight);
}

/* Fieldset-Inhalte ——————————————————————————*/

fieldset section {
	padding:	0.625em;
}
fieldset section + section {
	border-top:	2px groove #eee;
}
fieldset section::after {
	content:	"";
	clear:		both;
	display:	table;
}
.select {
	float:		left;
	clear:		left;
	width:		auto;
}
.subselect {
	padding-left:	2.5rem;
	float:		right;
	text-align:	left;
}
.subinput {
	float:		right;
	text-align:	right;
}
.subinput label {
	display:	block;
}

/* Input-Felder ——————————————————————————————*/

input[type="text"],
input[type="number"],
input[type="date"] {

	background-color:white;

	border-style:	solid;
	border-color:	black;
	border-width:	1px;

	padding:	.25em;
	margin:		.125em 0;
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {

	border-style:	solid;
	border-color:	var(--highlight);
	outline:	0;
	box-shadow:	0 0 0.5em var(--highlight);
}
@keyframes invalid-pulse {
	50%	{box-shadow:	0 0 0 0 var(--invalid-color);}
	100%	{box-shadow:	0 0 0.15em 0.05em var(--invalid-color);}
}
input[type="text"]:user-invalid:not(:focus),
input[type="number"]:user-invalid:not(:focus),
input[type="date"]:user-invalid:not(:focus),
input[type="time"]:user-invalid:not(:focus) {

	box-shadow:	0 0 0.15em 0.05em var(--invalid-color);

	animation-name:		invalid-pulse;
	animation-duration:	.3s;
	animation-delay:	-.15s;
	animation-iteration-count:2;
}
label {
	display:	inline-block;
	line-height:	1.4;
}
input[type="checkbox"],
input[type="radio"] {

	accent-color:	var(--radio-color);
}
label.option {
	display:	inline-block;
	position:	relative;
	padding-left:	1.5em;
	margin:		.15em auto;
}
label.option > input[type="checkbox"],
label.option > input[type="radio"] {

	position:	absolute;
	left:		0;
	top:		0;
}

/* Buttons ———————————————————————————————————*/

.menu {
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {

		width:		95%;
		display:	block;
		margin-left:	2.5%;
		margin-bottom:	.25rem;

		background-color:var(--adfc-orange);
		color:		white;

		padding:	0.25em;
		border:		0.2em outset hsl(25, 91%, 76%);
		border-radius:	0.25em;

		text-decoration:none;
		text-align:	center;
		font-weight:	bold;
		font-family:	var(--font-sans);
		font-size:	small;

		cursor:		default;
		user-select:	none;
		-webkit-user-select:none;
	}
	input[type="reset"] {
		background-color:hsl(10, 91%, 52%);
		border-color:	hsl(10, 91%, 76%);
	}
	input[type="submit"]:hover,
	input[type="button"]:hover,
	.button:hover {

		background-color:hsl(25, 91%, 41%);
		border-color:	hsl(25, 91%, 60%);
	}
	input[type="reset"]:hover {
		background-color:hsl(10, 91%, 41%);
		border-color:	hsl(10, 91%, 60%);
	}
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active,
	.button:active {

		border-style:	inset;
	}
}

/* Diverse Elemente und Klassen ——————————————*/

a {
	color:		var(--adfc-blue);
}
aside {
	color:		grey;
	font-size:	80%;
	margin:		0.25em;
}
aside address {
	display:	inline;
}
aside br {
	margin-bottom:	.25em;
}
label.money::after {
	content:	"€";
	padding-left:	.25em;
}
label.km::after {
	content:	"km";
	padding-left:	.25em;
}
/*.negative {
	color:		red;
}*/
.block:not([hidden]) {
	display:	inline-block;
	width:		100%;
}
.locked {
	color:		lightgrey;
}
.iban {
	font-family:	monospace;
	font-size:	120%;
}
.indent {
	margin-left:	2.5em;
}

/*Widescreen Layout: Zwei Spalten ————————————
@media only screen and (orientation: landscape) and (min-width:768px) {
	fieldset {
		float:left;
		width:49.8%;
		clear:left;
	}
	fieldset.right{
		float:right;
		clear:right;
	}
} */

/* Layout auf breitem Bildschirm */

@media (min-width:37.5rem) {
	.menu {
		input[type="submit"],
		input[type="reset"],
		input[type="button"],
		.button {

			width:		auto;
			display:	inline-block;
			margin-left:	0;
		}
	}
}

@media (min-width:48rem) {
	body > header::before {
		position:	absolute;
		margin:		0;
		left:		1.75rem;
		width:		10.667rem;
		height:		100%;
	}
	body > header div {
		max-width:	60%;
		margin-left:	max(16rem,20%);
	}
	.subinput {
		margin-left:	2.5em;
	}
	.subinput label {
		display:	inline-block;
	}
	label + label.field {
		margin-left:	.5em;
	}
}

/* Hoher Kontrastmodus ———————————————————————*/

@media (prefers-contrast: more) {
	:root {
		--radio-color:	black !important;
	}
	body > header {
		background-color:black;
	}
	body > header::before {
		background-image:url('../img/logo-white.svg'),url('../img/logo-white.png');
	}
	body > header > nav a {
		color:		black !important;
	}
	body > header > nav a::before {
		background-color:white;
	}
	fieldset {
		background-color:white !important;
	}
	fieldset,
	fieldset section + section,
	field header {

		border-color:	black;
	}
	fieldset legend,
	aside {

		color:		black;
	}
	/*.negative {
		color:		darkred;
	}*/
	input[type="number"]:focus,
	input[type="text"]:focus,
	input[type="date"]:focus {

		border-color:	black;
	}
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {

		background-color:white;
		color:		black;
		border-color:	dimgrey;
	}
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {

		background-color:whitesmoke;
		border-color:	black;
	}

}
