<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Aktivenabrechnung</title>
	<meta name="description" content="Abrechnungsformular des ADFC Hamburg" />
	<meta name="author" content="Patrick Lübcke" />
	<meta name="application-name" content="Abrechnungsformular" />
	<meta name="theme-color" content="#24477c" />
	<link rel="stylesheet" href="{{ url_for(static, filename='css/form.css') }}">
	<link rel="icon" href="{{ url_for(static, filename='img/favicon.ico') }}" sizes="32x32">
	<link rel="icon" href="{{ url_for(static, filename='img/icon.svg') }}" type="image/svg+xml">
	<link rel="apple-touch-icon" href="{{ url_for(static, filename='img/icon_touch.png') }}">
</head>

<body>
	<header>
		<div>
			<h1>Aktiven&shy;abrechnung</h1>
			<p>Hier findest du das Abrechnungs&shy;formular für Aktive und Helfer beim ADFC&nbsp;Hamburg.</p>
		</div>
	</header>
	<form action="{{ url_for('pages.aktive_pdf') }}" method="get">
		<header>
		<!--Name und Bereich--><fieldset>
			<legend>Persönliche Angaben</legend>
			<span class="avoidwrap">
				<label>Dein Name: <input type="text" class="field" name="uname" id="username" autocomplete="name"></label>
			</span>
			<span class="avoidwrap">
				<label>Dein Arbeitsbereich: <input type="text" class="field" name="dept" id="userdepartment" autocomplete="on"></label>
			</span>
		</fieldset>
		<!--Projekt--><fieldset class="right">
			<legend>Angaben zur Aktion oder zum Projekt</legend>
			<span class="avoidwrap">
				<label>Name der Aktion: <input type="text" class="field" name="pname" id="projectname"></label>
			</span>
			<span class="avoidwrap">
				<label>Datum der Aktion: <input type="date" class="field" name="pdate" id="projectdate"></label>
			</span>
		</fieldset>
		</header>
		<!--Geldbeträge--><fieldset>
			<legend>Einnahmen und Ausgaben</legend>
			<!--Postition 1--><section id="position1section">
				<div class="select">
					<input type="text" class="field" name="p1name" id="position1name" placeholder="Position 1" size=24 oninput="positionDisplay(2)">
				</div>
				<div class="select">
					<span class="avoidwrap">
						<label><input type="radio" class="selector" id="position1plus" name="p1type" value=1 oninput="positionSetting(1,true)" checked>Einnahme</label>
					</span>
					<span class="avoidwrap">
						<label><input type="radio" class="selector" id="position1minus" name="p1type" value=-1 oninput="positionSetting(1,false)">Ausgabe</label>
					</span>
					<!-- <span class="avoidwrap">
						<label class="scriptonly" hidden><input type="checkbox" class="selector" id="position1multi" oninput="multiSetting(1,this.checked)">Mehrere Stückzahlen</label>
					</span> -->
				</div>
				<div class="subinput">
					<span class="avoidwrap">
						<label>Anzahl: <input type="number" class="field" name="p1cnt" id="position1count" min=0 step=1 size=4 oninput="updatePosition(1); calculate(); positionDisplay(2);"></label>
					</span>
					<span class="avoidwrap money">
						<label>Einzelpreis: <input type="number" class="field" name="p1ppu" id="position1price" min="0" step="0.01" class="money" oninput="multiSetting(1,true); calculate(); positionDisplay(2);"></label>
					</span>
					<span class="avoidwrap money">
						<label>Gesamt: <input type="number" class="field" name="p1" id="position1amount" min="0" step="0.01" class="money" oninput="multiSetting(1,false); calculate(); positionDisplay(2);"></label>
					</span>
				</div>
			</section>
			<!--Postition 2--><section id="position2section">
				<div class="select">
					<input type="text" class="field" name="p2name" id="position2name" placeholder="Position 2" size=24 oninput="positionDisplay(3)">
				</div>
				<div class="select">
					<span class="avoidwrap">
						<label><input type="radio" class="selector" id="position2plus" name="p2type" value="1" oninput="positionSetting(2,true)" checked">Einnahme</label>
					</span>
					<span class="avoidwrap">
						<label><input type="radio" class="selector" id="position2minus" name="p2type" value="-1" oninput="positionSetting(2,false)">Ausgabe</label>
					</span>
					<!-- <span class="avoidwrap">
						<label class="scriptonly" hidden><input type="checkbox" class="selector" id="position2multi" oninput="multiSetting(2,this.checked)">Mehrere Stückzahlen</label>
					</span> -->
				</div>
				<div class="subinput">
					<span class="avoidwrap">
						<label>Anzahl: <input type="number" class="field" name="p2cnt" id="position2count" min=0 step=1 size=4 oninput="updatePosition(2); calculate(); positionDisplay(3);"></label>
					</span>
					<span class="avoidwrap money">
						<label>Einzelpreis: <input type="number" class="field" name="p2ppu" id="position2price" min="0" step="0.01" class="money" oninput="multiSetting(2,true); calculate(); positionDisplay(3);"></label>
					</span>
					<span class="avoidwrap money">
						<label>Gesamt: <input type="number" class="field" name="p2" id="position2amount" min="0" step="0.01" class="money" oninput="multiSetting(2,false); calculate(); positionDisplay(3);"></label>
					</span>
				</div>
			</section>
			<!--Postition 3--><section id="position3section">
				<div class="select">
					<input type="text" class="field" name="p3name" id="position3name" placeholder="Position 3" size=24 oninput="positionDisplay(4)">
				</div>
				<div class="select">
					<span class="avoidwrap">
						<label><input type="radio" class="selector" id="position3plus" name="p3type" value="1" oninput="positionSetting(3,true)" checked>Einnahme</label>
					</span>
					<span class="avoidwrap">
						<label><input type="radio" class="selector" id="position3minus" name="p3type" value="-1" oninput="positionSetting(3,false)">Ausgabe</label>
					</span>
					<!-- <span class="avoidwrap">
						<label class="scriptonly" hidden><input type="checkbox" class="selector" id="position3multi" oninput="multiSetting(3,this.checked)">Mehrere Stückzahlen</label>
					</span> -->
				</div>
				<div class="subinput">
					<span class="avoidwrap">
						<label>Anzahl: <input type="number" class="field" name="p3cnt" id="position3count" min=0 step=1 size=4 oninput="updatePosition(3); calculate(); positionDisplay(4);"></label>
					</span>
					<span class="avoidwrap money">
						<label>Einzelpreis: <input type="number" class="field" name="p3ppu" id="position3price" min="0" step="0.01" class="money" oninput="multiSetting(3,true); calculate(); positionDisplay(4);"></label>
					</span>
					<span class="avoidwrap money">
						<label>Gesamt: <input type="number" class="field" name="p3" id="position3amount" min="0" step="0.01" class="money" oninput="multiSetting(3,false); calculate(); positionDisplay(4);"></label>
					</span>
				</div>
			</section>
			<!--Postition 4--><section id="position4section">
				<div class="select">
					<input type="text" class="field" name="p4name" id="position4name" placeholder="Position 4" size=24 oninput="positionDisplay(5)">
				</div>
				<div class="select">
					<span class="avoidwrap">
						<label><input type="radio" class="selector" id="position4plus" name="p4type" value="1" oninput="positionSetting(4,true)" checked>Einnahme</label>
					</span>
					<span class="avoidwrap">
						<label><input type="radio" class="selector" id="position4minus" name="p4type" value="-1" oninput="positionSetting(4,false)">Ausgabe</label>
					</span>
					<!-- <span class="avoidwrap">
						<label class="scriptonly" hidden><input type="checkbox" class="selector" id="position4multi" oninput="multiSetting(4,this.checked)">Mehrere Stückzahlen</label>
					</span> -->
				</div>
				<div class="subinput">
					<span class="avoidwrap">
						<label>Anzahl: <input type="number" class="field" name="p4cnt" id="position4count" min=0 step=1 size=4 oninput="updatePosition(4); calculate(); positionDisplay(5);"></label>
					</span>
					<span class="avoidwrap money">
						<label>Einzelpreis: <input type="number" class="field" name="p4ppu" id="position4price" min="0" step="0.01" class="money" oninput="multiSetting(4,true); calculate(); positionDisplay(5);"></label>
					</span>
					<span class="avoidwrap money">
						<label>Gesamt: <input type="number" class="field" name="p4" id="position4amount" min="0" step="0.01" class="money" oninput="multiSetting(4,false); calculate(); positionDisplay(5);"></label>
					</span>
				</div>
			</section>
			<!--Postition 5--><section id="position5section">
				<div class="select">
					<input type="text" class="field" name="p5name" id="position5name" placeholder="Position 5" size=24 oninput="positionDisplay(6)">
				</div>
				<div class="select">
					<span class="avoidwrap">
						<label><input type="radio" class="selector" id="position5plus" name="p5type" value="1" oninput="positionSetting(5,true)" checked>Einnahme</label>
					</span>
					<span class="avoidwrap">
						<label><input type="radio" class="selector" id="position5minus" name="p5type" value="-1" oninput="positionSetting(5,false)">Ausgabe</label>
					</span>
					<!-- <span class="avoidwrap">
						<label class="scriptonly" hidden><input type="checkbox" class="selector" id="position5multi" oninput="multiSetting(5,this.checked)">Mehrere Stückzahlen</label>
					</span> -->
				</div>
				<div class="subinput">
					<span class="avoidwrap">
						<label>Anzahl: <input type="number" class="field" name="p5cnt" id="position5count" min=0 step=1 size=4 oninput="updatePosition(5); calculate(); positionDisplay(6);"></label>
					</span>
					<span class="avoidwrap money">
						<label>Einzelpreis: <input type="number" class="field" name="p5ppu" id="position5price" min="0" step="0.01" class="money" oninput="multiSetting(5,true); calculate(); positionDisplay(6);"></label>
					</span>
					<span class="avoidwrap money">
						<label>Gesamt: <input type="number" class="field" name="p5" id="position5amount" min="0" step="0.01" class="money" oninput="multiSetting(5,false); calculate(); positionDisplay(6);"></label>
					</span>
				</div>
			</section>
			<!--Postition 6--><section id="position6section">
				<div class="select">
					<input type="text" class="field" name="p6name" id="position6name" placeholder="Position 6" size=24 oninput="positionDisplay(7)">
				</div>
				<div class="select">
					<span class="avoidwrap">
						<label><input type="radio" class="selector" id="position6plus" name="p6type" value="1" oninput="positionSetting(6,true)" checked>Einnahme</label>
					</span>
					<span class="avoidwrap">
						<label><input type="radio" class="selector" id="position6minus" name="p6type" value="-1" oninput="positionSetting(6,false)">Ausgabe</label>
					</span>
					<!-- <span class="avoidwrap">
						<label class="scriptonly" hidden><input type="checkbox" class="selector" id="position6multi" oninput="multiSetting(6,this.checked)">Mehrere Stückzahlen</label>
					</span> -->
				</div>
				<div class="subinput">
					<span class="avoidwrap">
						<label>Anzahl: <input type="number" class="field" name="p6cnt" id="position6count" min=0 step=1 size=4 oninput="updatePosition(6); calculate(); positionDisplay(7);"></label>
					</span>
					<span class="avoidwrap money">
						<label>Einzelpreis: <input type="number" class="field" name="p6ppu" id="position6price" min="0" step="0.01" class="money" oninput="multiSetting(6,true); calculate(); positionDisplay(7);"></label>
					</span>
					<span class="avoidwrap money">
						<label>Gesamt: <input type="number" class="field" name="p6" id="position6amount" min="0" step="0.01" class="money" oninput="multiSetting(6,false); calculate(); positionDisplay(7);"></label>
					</span>
				</div>
			</section>
			<!--Postition 7--><section id="position7section">
				<div class="select">
					<input type="text" class="field" name="p7name" id="position7name" placeholder="Position 7" size=24>
				</div>
				<div class="select">
					<span class="avoidwrap">
						<label><input type="radio" class="selector" id="position7plus" name="p7type" value="1" oninput="positionSetting(7,true)" checked>Einnahme</label>
					</span>
					<span class="avoidwrap">
						<label><input type="radio" class="selector" id="position7minus" name="p7type" value="-1" oninput="positionSetting(7,false)">Ausgabe</label>
					</span>
					<!-- <span class="avoidwrap">
						<label class="scriptonly" hidden><input type="checkbox" class="selector" id="position7multi" oninput="multiSetting(7,this.checked)">Mehrere Stückzahlen</label>
					</span> -->
				</div>
				<div class="subinput">
					<span class="avoidwrap">
						<label>Anzahl: <input type="number" class="field" name="p7cnt" id="position7count" min=0 step=1 size=4 oninput="updatePosition(7); calculate()"></label>
					</span>
					<span class="avoidwrap money">
						<label>Einzelpreis: <input type="number" class="field" name="p7ppu" id="position7price" min="0" step="0.01" class="money" oninput="multiSetting(7,true); calculate()"></label>
					</span>
					<span class="avoidwrap money">
						<label>Gesamt: <input type="number" class="field" name="p7" id="position7amount" min="0" step="0.01" class="money" oninput="multiSetting(7,false); calculate()"></label>
					</span>
				</div>
			</section>
			<!--Spenden--><section>
				<span class="money">
					<label>Zusätzlich eingenommene Spenden: <input type="number" name="dono" id="donations" min="0" step="0.01" class="money" oninput="calculate()"></label>
				</span>
			</section>
		</fieldset>
		<!--Zahlung--><fieldset class="right" id="fieldsetPayment">
			<legend>Zahlungsabwicklung</legend>
			<section id="totalamount">Bitte gib an, wie du diese Abrechnung verbuchen lassen möchtest:</section>
			<!--Überweisung an User--><section>
				<div class="select">
					<label><input type="radio" id="processtouser" name="prtype" value="1" oninput="processMode(1)">Wir überweisen den Abrechnungsbetrag auf dein Konto.</label><br>
				</div>
				<div class="subinput">
					<span class="avoidwrap">
						<label><abbr title="Internationale Bankkontonummer">IBAN</abbr>: <span class="iban">DE</span><input type="text" name="iban" id="processiban" size=20 maxlength="20" pattern="\d{20}?" title="20-stellige IBAN, ohne Leerzeichen" class="iban"></label>
					</span>
					<span class="avoidwrap">
						<label>Kontoinhaber: <input type="text" name="owner" id="processowner" autocomplete="name"></label>
					</span><br>
					<label><input type="checkbox" name="known" id="processuserknown" value="1" oninput="ibanLock(this.checked)">Meine Bankverbindung ist dem ADFC Hamburg bekannt.</label>
				</div>
			</section>
			<!--Einzug--><section>
				<div class="select">
					<label><input type="radio" id="processsepa" name="prtype" value="2" oninput="processMode(2)">Den Abrechnungsbetrag per <abbr title="Single Euro Payments Area">SEPA</abbr>-Lastschriftmandat einziehen lassen.</label>
					<aside>Bei Bedarf können wir dir dir das Formular zur Erteilung eines <abbr title="Single Euro Payments Area">SEPA</abbr>-Lastschriftmandats gerne zusenden.</aside>
				</div>
				<div class="subselect">
					<span class="avoidwrap">
						<label><input type="radio" class="selector" name="prsepa" id="processsepaexists" value="1">Du hast uns bereits ein aktuelles <abbr title="Single Euro Payments Area">SEPA</abbr>-Mandat erteilt.</label>
					</span><br>
					<span class="avoidwrap">
						<label><input type="radio" class="selector" name="prsepa" id="processsepanew" value="2">Du hast uns noch kein <abbr title="Single Euro Payments Area">SEPA</abbr>-Mandat erteilt.</label>
					</span>
					<span class="avoidwrap">
						<label><input type="radio" class="selector" name="prsepa" id="processsepachange" value="3">Deine Bankverbindung hat sich geändert.</label>
					</span>
					</div>
			</section>
			<!--Überweisung von User--><section>
				<div class="select">
					<label><input type="radio" id="processbyuser" name="prtype" value="3" oninput="processMode(3)">Du überweist den Abrechnungsbetrag selbst.</label>
					<aside id="processnote">Bitte überweise den Abrechnungsbetrag innerhalb von 10 Tagen auf das Konto des ADFC Hamburg mit der folgenden <abbr title="Internationale Bankkontonummer">IBAN</abbr>: <span class="iban">DE80&nbsp;4306&nbsp;0967&nbsp;2029&nbsp;4456&nbsp;00</span></aside>
				</div>
			</section>
		</fieldset>
		<!--Absenden--><fieldset class="right">
			<legend>Daten absenden</legend>
			<input type="submit" value="Abrechnung erstellen">
			<a href="{{ url_for('pages.aktive_pdf') }}" class="button" download="Aktivenabrechnung.pdf">Leere Abrechnung herunterladen</a>
			<input type="reset" onclick="positionDisplayInitialize(1); calculate(false); processMem=0;" value="Formular zurücksetzen">
			<aside id="test">Lade hier die fertige Abrechnung als PDF-Datei runter und sende sie uns per E-Mail an <a href="mailto:buchhaltung@adfc.hamburg.de">buchhaltung@adfc.hamburg.de</a>.<br />
			Alternativ kannst du die Abrechnung auch ausdrucken und sie uns per Post zusenden oder direkt bei uns in der Geschäftsstelle abgeben.</aside>
		</fieldset>
	</form>
	<script src="{{ url_for(static, filename='js/form_aktive.js') }}"></script>
</body>

</html>
